
body {
  /*background-color: ;*/
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 768px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.targetScoreInput {
  width: 30px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #BEF05D;
  margin-bottom: 150px;
}