
body {
  background: #BEF05D;
  width: 100vw;

}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 768px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.targetScoreInput {
  width: 30px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #BEF05D;
  margin-bottom: 150px;
  border-bottom: 2px solid yellowgreen;
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  .app {
    padding: 4rem 2rem;
  }

  .grid {
    padding: 1rem 1.75rem;
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 150px;
    height: 100px;
  }

  .header {
    font-size: 1rem;
    width: 100vw;
  }

  .targetScoreInput {
    width: 20px;
    height: 20px;
  }
}

/*@media screen and (max-width: 400px) {*/
/*  .app {*/
/*    padding: 4rem 1rem;*/
/*  }*/

/*  h1 {*/
/*    font-size: 2rem;*/
/*  }*/

/*  .container {*/
/*    margin-top: 2rem;*/
/*  }*/

/*  .movie {*/
/*    width: 100%;*/
/*    margin: 1rem;*/
/*  }*/
/*}*/